<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>badook and datepicker</title>
    <script src="/badook/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/badook/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/badook/test.js" type="text/javascript" charset="utf-8"></script>
  </head>

  <body>
    <a href="#">some link</a>
    <div style="height: 1000px;"></div>
    <input type="text" id="datepicker">
  </body>
</html>
